
<br/><div class="ui container">
  <h2 class="ui center aligned icon header grey">
    KWM Evernote Projekt - Toplitsch
  </h2>
<div class="ui top attached tabular menu">
  <a routerLink="home" routerLinkActive="active" class="item">Home</a>
  <a routerLink="registers" routerLinkActive="active" class="item">Listen</a>
  <a routerLink="notes" routerLinkActive="active" class="item">Notizen</a>
  <a routerLink="todos" routerLinkActive="active" class="item">Todos</a>
  <a routerLink="tags" routerLinkActive="active" class="item">Tags</a>
  <div class="right menu">
  <a routerLink="login" routerLinkActive="active" class="item">{{getLoginLabel()}}</a>
  </div>
</div>
</div>

<div class="ui container">
  <br/>
  <router-outlet></router-outlet>
</div>





