
  @if(authService.isLoggedIn() ||  register.is_public){
    @if(register){
  <div class="ui grid">
    <div class="four wide column">

    </div>
    <div class="twelve wide column">
      <h1>Liste Detailansicht:</h1>
      <h2 class="ui header">{{ register.name }}</h2>

      <h3 class="ui header">{{register.is_public ? 'öffentlich': 'privat'}}</h3>

      <div class="ui divider"></div>
      <div class="ui grid">
        <div class="four wide column">
          <h4 class="ui header">User</h4>

          <span>{{ user?.firstName}} {{ user?.lastName}}</span><br/>

        </div>
        <div class="four wide column">
          <h4 class="ui header">Erstellt am</h4>
          {{ register.created_at  | date: 'longDate'}}
        </div>
        <div class="four wide column">
          <h4 class="ui header">Zuletzt geupdated am</h4>
          {{ register.updated_at | date: 'longDate' }}
        </div>
      </div>
    </div>

    <div class="sixteen wide column">
      <div class="ui small images">

      </div>
    </div>
  </div>

  <h2>Zugehörige Notizen:</h2>
  <div class="ui middle aligned selection divided">
    @for (note of notes; track note){
      <a class="item ke-note-list-item" [note]="note" [routerLink]="['/notes', note.id]"></a>
    }
  </div>
  <br/>
  <br/>

  <button [routerLink]="'/registers'" class="ui labeled icon button"><i class="left arrow icon"></i>Zurück zu den Listen</button>
  <br/>
  <br/>
  @if(authService.isLoggedIn()){
    <button class="ui tiny red labeled icon button" (click)="removeRegister()">
      <i class="remove icon"></i>Liste löschen</button>
    <a class="ui tiny yellow labeled icon button" [routerLink]="['../../adminRegister', register.id]">
      <i class="edit icon"></i>Liste bearbeiten
    </a>
  }
}
}
