<div class="ui search"  [ngClass]="{ loading: isLoading }">
  <div class="ui icon input">
    <input (keyup)="keyup.emit(searchTerm.value)" #searchTerm class="prompt" type="text" placeholder="Suche...">
    <i class="search icon"></i>
  </div>
  <div class="results transition" [ngClass]="{ visible: foundTags.length }">

    @for (tag of foundTags; track tag){
      <a href (click)="tagSelected.emit(tag); false" class="result">
        <div class="content">
          <div class="title" >{{ tag.name }}</div>
        </div>
      </a>
    }
  </div>
</div>
