<h1>Notizen-Formular:</h1>
<form class="ui large form" [formGroup]="noteForm" (ngSubmit)="submitForm()">
  <input type="hidden" formControlName="id">
  <div class="field">
    <label for="title">Titel</label>
    <input type="text" id="title" formControlName="title">
    @if(errors['title']){
      <div class="ui negative message"> {{ errors['title'] }} </div>
    }
  </div>
  <div class="field">
    <label>Beschreibung</label>
    <textarea formControlName="description" rows="3"></textarea>
  </div>
  <div class="field">
    <label for="registers">Liste wählen:</label>
    <select id="registers" formControlName="register_id">
      @for (register of registers; track register) {
        <option [value]="register.id">
          <span>{{ register?.name }}</span>
        </option>
      }
    </select>
  </div>
  <div class="field">
    <label for="tags">Tag wählen:</label>
    <select id="tags" formControlName="tags" multiple>
      @for (tag of tags; track tag) {
        <option [value]="tag.id">
          <span>{{ tag?.name }}</span>
        </option>
      }
    </select>
  </div>
  <div class="field">
    <label>Erstellungsdatum</label>
    <input type="date" formControlName="created_at">
  </div>
  <div class="field">
    <label>Änderungsdatum</label>
    <input type="date" formControlName="updated_at">
  </div>
  <div class="field">
    <label>Bilder einfügen:</label>
    <div formArrayName="images">
      @for(control of images.controls; let i =$index, l=$last; track control){
        <div class="fields" [formGroupName]="i">
          <input type="hidden" formControlName="id">
          <div class="nine wide field">
            <input formControlName="url" placeholder="http://bild{{i+1}}_url">
          </div>
          <div class="six wide field">
            <input formControlName="caption" placeholder="Bild{{i+1}}_Beschreibung">
          </div>
          @if(l){
            <div class="one wide field">
              <button (click)="addThumbnailControl()" class="ui large button" type="button">+</button>
            </div>
          }
        </div>
      }
    </div>
  </div>

  <button type="submit" class="ui button" [disabled]="noteForm.invalid">Speichern</button>
</form>

